.member-form .form-input {
  flex: auto;
  width: 0.8em;
}

.member-entry-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.member-entry-overview {
  flex: auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.member-entry-photo-wrapper {
  width: 3em;
  margin: 0 0.5em;
}

.member-entry-photo-wrapper i {
  font-size: 3rem;
}
