.expense-form-row {
  display: flex;
  margin: 0.3em;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
}

.expense-form-description {
  flex: auto;
  margin-right: 0.7em;
}

.expense-form-amount {
  width: 7em;
}

.expense-form-name-select {
  height: 2.4rem;
  flex: auto;
}

.expense-form-note {
  flex: auto;
  width: 13em;
  margin-right: 0.7rem;
}

.expense-form-date {
  width: 8em;
  margin-right: 0.7rem;
}

.expense-form-time {
  width: 8em;
}

.expense-form-submit {
  background: none;
  border: none;
}

.expense-form-multi-line {
  /* flex: auto; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  width: 47.5%;
}

.expense-form-line-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.expense-form-submit i {
  color: rgb(101, 203, 216);
  font-size: 3em;
}

.expense-item-list-container {
  padding: 0.25em 1em;
}

.expense-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.75em;
  border-bottom: 1px #cdcdcd solid;
}

.expense-item-left-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.expense-item-left-details h6 {
  font-style: italic;
  color: #a19b9b;
}

.expense-item-left-details h2 {
  color: #02606d;
}

.expense-item-right-details {
  flex: auto;
  margin: 0 1em;
}

.expense-item-right-details p {
  font-size: 0.9rem;
  color: #585858;
}

.expense-item-right-details strong {
  color: #02606d;
}

.expense-list-settle-wrapper {
  display: flex;
  padding: 0.5em;
}

.expense-list-settle-up {
  flex: auto;
  box-sizing: border-box;
  /* background: #cdcdcd; */
}
