/* .form-input-wrapper {
  display: flex;
  font-family: inherit;
  border-radius: 3px;
  border: 1px solid rgb(174, 220, 231);
  height: 2.25em;
} */

.form-input {
  font-family: inherit;
  padding: 0.5em;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid rgb(174, 220, 231);
  height: 2.25em;
}
