.member-widget-container {
  display: flex;
  width: 6em;
}

.member-widget-item {
  height: 1.25em;
  width: 1.25em;
  background-color: #81f0e5;
  filter: drop-shadow(1px 1px 1px #395d75);
  border-radius: 50%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.member-widget-item:nth-child(2) {
  position: relative;
  right: 0.35em;
  z-index: 2;
}

.member-widget-item:nth-child(3) {
  position: relative;
  right: 0.7em;
  z-index: 1;
}

.member-widget-text {
  font-size: 0.75em;
  color: #395d75;
}

.member-widget-item.extra {
  position: relative;
  right: 0.5em;
  background-color: transparent;
}

.member-widget-item.extra .member-widget-text {
  color: inherit;
}
