.search-sort-container {
  display: flex;
  /* flex-basis: 35%; */
  width: 4em;
  height: 1.75em;
  justify-content: center;
  border: 3px #eff1f3 solid;
  border-radius: 25px;
  background: #04d9c4;
}

.search-sort-container button {
  font: inherit;
  color: #223843;
  border: none;
  background: none;
  outline: none;
}

.search-sort-container button:hover {
  cursor: pointer;
}
