@import url("https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

input,
select,
button {
  background: none;
  border: none;
  font-family: inherit;
  color: black;
  outline: none;
}

button:hover,
select:hover {
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

.content {
  padding: 1em;
  width: 75vh;
  margin: auto;
  font-family: "Noto Sans HK", sans-serif;
}

.container {
  box-sizing: border-box;
  width: 100%;

  background-color: #fff;
  color: #303030;
  border-radius: 3px;
  padding: 1em;
  margin: 10px 0;

  box-shadow: 0 10px 15px 0px rgba(48, 48, 48, 0.25);
  -moz-box-shadow: 0 10px 15px 0px rgba(48, 48, 48, 0.25);
  -webkit-box-shadow: 0 10px 15px 0px rgba(48, 48, 48, 0.25);
  -o-box-shadow: 0 10px 15px 0px rgba(48, 48, 48, 0.25);
  -ms-box-shadow: 0 10px 15px 0px rgba(48, 48, 48, 0.25);
}

.toggle-label-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  float: none;
  width: 100%;
  height: 3rem;
}

.toggle-label {
  font-family: inherit;
  border: none;
  color: #fff;
  background: none;
  border-radius: 25px;
  padding: 5px 15px;
  box-sizing: border-box;
}

.toggle-label:hover {
  border: 1.3px #fff solid;
  cursor: pointer;
  box-sizing: border-box;
}

.toggle-label:active,
.toggle-label:focus,
.toggle-label:focus:active {
  background-image: none;
  outline: 0;
  box-shadow: none;
}

.card {
  background: white;
  border-radius: 6px;
  margin-bottom: 0.5em;
  padding: 0.5em;
  color: black;
}

.form-input {
  font-size: 0.9rem;
  font-family: inherit;
  padding: 0.5em 0.8em;
  line-height: 2rem;
  border-radius: 3px;
  border: 1px solid rgb(174, 220, 231);
  box-sizing: border-box;
}
