@import url("https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

input,
select,
button {
  background: none;
  border: none;
  font-family: inherit;
  color: black;
  outline: none;
}

button:hover,
select:hover {
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

.content {
  padding: 1em;
  width: 75vh;
  margin: auto;
  font-family: "Noto Sans HK", sans-serif;
}

.card {
  background: white;
  border-radius: 6px;
  margin-bottom: 0.5em;
  padding: 0.5em;
  color: black;
}

.form-input {
  font-size: 0.9rem;
  font-family: inherit;
  padding: 0.5em 0.8em;
  line-height: 2rem;
  border-radius: 3px;
  border: 1px solid rgb(174, 220, 231);
  box-sizing: border-box;
}

.form-input.fill {
  width: 100%;
}
