.expense-form-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 0.35em;
}

.expense-form-row:last-child {
  margin-bottom: 0;
}

.expense-form-input.description-input {
  flex: 2;
  margin-right: 0.35em;
}

.expense-form-input.amount-input {
  text-align: right;
  flex: 1;
}

.name-select {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 0.35em;
  color: var(--white-smoke);
}

.expense-form-submit {
  box-sizing: border-box;
  padding-top: 0.3em;
  margin-right: 0.3em;
}


.expense-form-submit i {
  font-size: 2em;
  color: var(--iron);
  opacity: 0.5;
}

.expense-form-submit.can-submit i {
  color: var(--main-green);
  opacity: 1;
}
