.group-field-container {
  padding: 1em;
  margin: 5px 0;
}

.group-field-container:hover {
  cursor: pointer;
}

.group-field-container:hover:not(.expanded) {
  background-color: var(--lighter-blue);
}

.group-field-input-wrapper:hover {
  background-color: var(--main-green);
}

.group-field-input-wrapper .form-input {
  font-family: var(--montserrat);
  text-align: center;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 1.2em;

  color: transparent;
  text-shadow: 0 0 0 var(--white-smoke);
  font-style: oblique;
}

.group-field-input-wrapper .form-input::placeholder {
  color: var(--white-green);
  opacity: 0.8;
}

.group-field-input-wrapper:hover .form-input {
  font-style: normal;
  color: var(--main-blue);
  font-weight: 700;
}

.group-field-input-wrapper:hover .form-input::placeholder {
  opacity: 0;
  font-style: normal;
}

.group-field-header {
  text-align: center;
}

.group-field-expanded-header-divider {
  border: 1px solid var(--light-green);
  background-color: var(--light-green);
}

.group-entries-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.group-entry-container {
  width: 100%;
  text-align: center;
}

.group-entry-container:hover:not(.group-entry-container-active) {
  background-color: var(--main-green);
  color: var(--main-blue);
}

.group-entry-container-active {
  color: var(--main-green);
  pointer-events: none;
}

.group-entry-container-active:hover {
  color: var(--white-green);
}

.group-name {
  text-decoration: none;
  margin: 0.3em 0;
}
