.member-list {
  box-sizing: border-box;
  width: 100%;
  min-height: 30vh;
  padding: 1.25em 0.5em;
}

.member-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.05em;
}

.member-container:last-child {
  margin-bottom: 0;
}

.member-overview {
  flex: auto;
  /* display: flex; */
  /* flex-direction: column; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 0.5em;
  /* align-items: center; */
}

.member-icon {
  margin: 0 0.5em;
  font-size: 2rem;
}

.member-list-empty,
.member-list-empty-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.member-list-empty-text {
  font-weight: 400px;
}

.member-list-empty-icon {
  font-size: 10em;
}
