.member-form-row {
  display: flex;
  margin: 0.3em;
  justify-content: space-between;
  align-content: center;
}

.member-name-input-wrapper {
  flex: auto;
  margin-right: 1rem;
}

.member-form-submit {
  box-sizing: border-box;
  padding-top: 0.3em;
  margin-right: 0.3em;
}

.member-form-submit i {
  font-size: 3em;
  color: var(--iron);
  opacity: 0.5;
}

.member-form-submit.can-submit i {
  color: var(--main-green);
  opacity: 1;
}
