/* @import url("https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap"); */

/* .temp {
  padding: 1em;
  width: 75vh;
  margin: auto;
  font-family: "Noto Sans HK", sans-serif;
} */

.greeter-wrapper {
  height: 60vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
}

.greeter-shift {
  flex: 1;

  display: flex;
  justify-content: center;

  background: none;
  border: none;
  color: inherit;
  outline: none;

  cursor: pointer;
}

.greeter-shift i {
  color: #ccc;
  font-size: 64px;
  opacity: 0.3;
  transform: scale(0.75, 2);
}

.greeter-shift:hover i {
  opacity: 0.5;
}

.greeter-items-container {
  flex: auto;
  flex-basis: 10%;

  display: flex;
  justify-content: center;
}

.greeter-item img {
  width: 40vh;
  height: auto;
}
